header button, .main-section button, footer div.btn-container button { background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da)); background: linear-gradient(to right, #31d35c, #2bb7da); color: white; border-radius: 20px; font-family: inherit; cursor: pointer; font-size: 1rem; padding: 0.75rem 2rem; border: none; }

section, header, .main-section div, footer { padding: 1rem 2rem; }

@media screen and (min-width: 800px) { section, header, .main-section div, footer { padding: 1rem 6rem; } }

.section-container img, .container article img { display: block; margin: 0 auto; }

@media screen and (min-width: 800px) { .section-container img, .container article img { margin: 0; } }

* { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 1.125rem; font-family: "Public Sans", sans-serif; color: #2d314d; }

h2, h3 { text-align: center; padding-top: 2rem; padding-bottom: 1.5rem; }

@media screen and (min-width: 800px) { h2, h3 { text-align: left; } }

h2 { font-size: 2.5rem; }

h3 { font-size: 1.9rem; text-transform: capitalize; }

h4 { font-size: 1.5rem; padding-top: 1rem; }

p { line-height: 2rem; color: #9698a6; text-align: center; margin-bottom: 3rem; }

@media screen and (min-width: 800px) { p { text-align: left; } }

section:last-child { background-color: #fafafa; padding-bottom: 4rem; }

header { background-color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

header nav { position: absolute; display: none; top: 69px; left: 0; width: 100%; height: calc(100vh - 69px); background-color: rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 800px) { header nav { height: -webkit-min-content; height: -moz-min-content; height: min-content; width: auto; display: block; background-color: inherit; position: relative; top: auto; left: auto; } }

header nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: white; width: 80%; margin: 1.5rem auto; gap: 1.5rem; padding: 1.5rem; border-radius: 5px; }

@media screen and (min-width: 800px) { header nav ul { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background-color: inherit; padding: 0; margin: 0; color: #9698a6; } }

header nav ul li { list-style: none; }

header nav ul li a { text-decoration: none; color: inherit; }

header span { cursor: pointer; position: relative; font-size: 2rem; }

header span #close-btn { display: none; }

@media screen and (min-width: 800px) { header span { display: none; } }

header button { display: none; }

@media screen and (min-width: 800px) { header button { display: block; } }

.show-close-btn { display: inline-block; }

.main-section { display: -ms-grid; display: grid; padding: 0; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 2rem; overflow: hidden; background-color: #fafafa; }

@media screen and (min-width: 800px) { .main-section { -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr); gap: 4rem; margin-bottom: -10rem; } }

.main-section h1 { font-size: 3rem; text-align: center; margin-bottom: 2rem; }

@media screen and (min-width: 800px) { .main-section h1 { text-align: left; } }

.main-section button { display: block; margin: 2rem auto 6rem auto; }

@media screen and (min-width: 800px) { .main-section button { margin: 2rem 0; } }

.main-section img { background-image: url(./images/bg-intro-mobile.svg); background-position: right; background-size: cover; width: 100%; margin-top: -10.5rem; background-repeat: no-repeat; }

@media screen and (min-width: 800px) { .main-section img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin-top: -5rem; } }

.section-center { background-color: #f3f4f6; }

.section-center section { background-color: inherit; }

@media screen and (min-width: 800px) { .section-center { padding-top: 10rem; } }

.section-container { display: -ms-grid; display: grid; padding: 0; }

@media screen and (min-width: 800px) { .section-container { -ms-grid-columns: (1fr)[4]; grid-template-columns: repeat(4, 1fr); -webkit-column-gap: 2rem; column-gap: 2rem; } }

.section-container .title { text-align: left; margin: 0; padding: 0; padding-top: 1.5rem; }

.container { row-gap: 2rem; }

.container article { overflow: hidden; background-color: white; border-radius: 10px; }

.container article img { width: 100%; }

@media screen and (min-width: 800px) { .container article img { height: 200px; } }

.container article p { margin-bottom: 0; }

.container article div { padding: 0 1.5rem 3rem 2rem; }

.container p { text-align: left; }

footer { background-color: #2d314d; display: -ms-grid; display: grid; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

@media screen and (min-width: 800px) { footer { -ms-grid-columns: (1fr)[3] 2fr; grid-template-columns: repeat(3, 1fr) 2fr; gap: 3rem; padding-top: 2rem; text-align: left; } }

footer ul { -webkit-column-span: 1; column-span: 1; display: -ms-grid; display: grid; gap: 1rem; padding-bottom: 1rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

footer ul li { list-style: none; }

footer ul li a { text-decoration: none; color: white; }

footer div.btn-container { -webkit-column-span: 2; column-span: 2; }

@media screen and (min-width: 800px) { footer div.btn-container { display: -ms-grid; display: grid; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: end; } }

footer div.btn-container button { margin: 2rem 0; }

aside { text-align: center; background-color: #fafafa; }

aside a:hover { color: #2bb7da; }
