$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
// Neutral
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

%shared-btn {
  background: linear-gradient(to right, $lime-green, $bright-cyan);
  color: white;
  border-radius: 20px;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border: none;
}
%shared-padding {
  padding: 1rem 2rem;
  @media screen and (min-width: 800px) {
    & {
      padding: 1rem 6rem;
    }
  }
}
%shared-img {
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 800px) {
    & {
      margin: 0;
    }
  }
}
// General styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.125rem;
  font-family: "Public Sans", sans-serif;
  color: $dark-blue;
}
h2,
h3 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  @media screen and (min-width: 800px) {
    & {
      text-align: left;
    }
  }
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.9rem;
  text-transform: capitalize;
}
h4 {
  font-size: 1.5rem;
  padding-top: 1rem;
  a {
    text-decoration-line: none;
    color: inherit;

    &:hover {
      color: $lime-green;
    }
  }
}
p {
  line-height: 2rem;
  color: $grayish-blue;
  text-align: center;
  margin-bottom: 3rem;
  @media screen and (min-width: 800px) {
    & {
      text-align: left;
    }
  }
}
section {
  @extend %shared-padding;
}
section:last-child {
  background-color: $very-light-gray;
  padding-bottom: 4rem;
}
// End of general styles

// Header
header {
  @extend %shared-padding;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    position: absolute;
    // display: none;
    top: 55px;
    left: 0;
    width: 100%;
    height: calc(100vh - 55px);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
    opacity: 0;
    transition: all 0.2s linear;
    @media screen and (min-width: 800px) {
      & {
        height: auto;
        background: white;
        width: auto;
        display: block;
        position: relative;
        top: auto;
        left: auto;
        opacity: 1;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 80%;
      margin: 1.5rem auto;
      gap: 1.5rem;
      padding: 1.5rem;
      border-radius: 5px;
      @media screen and (min-width: 800px) {
        & {
          flex-direction: row;
          padding: 0;
          margin: 0;
          color: $grayish-blue;
        }
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: inherit;
          position: relative;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $dark-blue;
          }
          @media screen and (min-width: 800px) {
            &::after {
              content: "";
              width: 0;
              height: 5px;
              background: linear-gradient(to right, $lime-green, $bright-cyan);
              position: absolute;
              left: 0;
              bottom: -1.7rem;
              transition: all 0.3s ease-in-out;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  span {
    cursor: pointer;
    position: relative;
    .close-btn {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }

    @media screen and (min-width: 800px) {
      & {
        display: none;
      }
    }
  }
  button {
    @extend %shared-btn;
    display: none;
    @media screen and (min-width: 800px) {
      & {
        display: block;
      }
    }
  }
}
// End of header
//*********  Header toggle classes *******
.hide-element {
  opacity: 0;
}
.show-element {
  opacity: 1;
}
// ******* End of toggle classes ********
// Main section
.main-section {
  display: grid;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  background-color: $very-light-gray;
  @media screen and (min-width: 800px) {
    & {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      margin-bottom: -10rem;
    }
  }
  div {
    @extend %shared-padding;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    @media screen and (min-width: 800px) {
      & {
        text-align: left;
      }
    }
  }
  button {
    @extend %shared-btn;
    display: block;
    margin: 2rem auto 6rem auto;
    @media screen and (min-width: 800px) {
      & {
        margin: 2rem 0;
      }
    }
  }

  img {
    background-image: url(./images/bg-intro-mobile.svg);
    background-size: cover;
    width: 100%;
    margin-top: -10.5rem;
    background-repeat: no-repeat;
    @media screen and (min-width: 800px) {
      & {
        order: 1;
        margin-top: -5rem;
      }
    }
  }
}
// End of main section
.section-center {
  background-color: $light-grayish-blue;
  section {
    background-color: inherit;
  }
  @media screen and (min-width: 800px) {
    & {
      padding-top: 10rem;
    }
    p.caption {
      width: 40rem;
    }
  }
}
.section-container {
  display: grid;
  padding: 0;
  @media screen and (min-width: 800px) {
    & {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
    }
  }
  img {
    @extend %shared-img;
  }
  .title {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
  }
}
.container {
  row-gap: 2rem;
  article {
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    img {
      @extend %shared-img;
      width: 100%;
      @media screen and (min-width: 800px) {
        & {
          height: 200px;
        }
      }
    }
    p {
      margin-bottom: 0;
    }
    div {
      padding: 0 1.5rem 3rem 2rem;
    }
  }
  p {
    text-align: left;
  }
}
// Beginning of footer
footer {
  @extend %shared-padding;
  background-color: $dark-blue;
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  @media screen and (min-width: 800px) {
    & {
      grid-template-columns: repeat(3, 1fr) 2fr;
      gap: 3rem;
      text-align: left;
    }
  }
  .logo-container {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .icon-container {
      display: flex;
      align-items: center;
      margin: 2rem 0;
      @media screen and (min-width: 800px) {
        & {
          margin: 0;
        }
      }
      li img {
        width: 2rem;
      }
    }
  }
  ul {
    column-span: 1;
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: white;
        transition: all 0.3s linear;
        &:hover {
          color: $lime-green;
        }
      }
    }
  }
  div.btn-container {
    column-span: 2;
    @media screen and (min-width: 800px) {
      display: grid;
      justify-content: end;
    }
    button {
      @extend %shared-btn;
      margin: 2rem 0;
    }
  }
}
aside {
  text-align: center;
  background-color: $very-light-gray;
  a:hover {
    color: $bright-cyan;
  }
}
