$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
// Neutral
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

%shared-btn {
  background: linear-gradient(to right, $lime-green, $bright-cyan);
  color: white;
  border-radius: 20px;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border: none;
}
%shared-padding {
  padding: 1rem 2rem;
  @media screen and (min-width: 800px) {
    & {
      padding: 1rem 6rem;
    }
  }
}
%shared-img {
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 800px) {
    & {
      margin: 0;
    }
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.125rem;
  font-family: "Public Sans", sans-serif;
  color: $dark-blue;
}
h2,
h3 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  @media screen and (min-width: 800px) {
    & {
      text-align: left;
    }
  }
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.9rem;
  text-transform: capitalize;
}
h4 {
  font-size: 1.5rem;
  padding-top: 1rem;
}
p {
  line-height: 2rem;
  color: $grayish-blue;
  text-align: center;
  margin-bottom: 3rem;
  @media screen and (min-width: 800px) {
    & {
      text-align: left;
    }
  }
}
section {
  @extend %shared-padding;
}
section:last-child {
  background-color: $very-light-gray;
  padding-bottom: 4rem;
}
header {
  @extend %shared-padding;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    position: absolute;
    display: none;
    top: 69px;
    left: 0;
    width: 100%;
    height: calc(100vh - 69px);
    background-color: rgba($color: #000, $alpha: 0.3);
    @media screen and (min-width: 800px) {
      & {
        height: min-content;
        width: auto;
        display: block;
        background-color: inherit;
        position: relative;
        top: auto;
        left: auto;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 80%;
      margin: 1.5rem auto;
      gap: 1.5rem;
      padding: 1.5rem;
      border-radius: 5px;
      @media screen and (min-width: 800px) {
        & {
          flex-direction: row;
          background-color: inherit;
          padding: 0;
          margin: 0;
          color: $grayish-blue;
        }
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  span {
    cursor: pointer;
    position: relative;
    font-size: 2rem;
    #close-btn {
      display: none;
    }

    @media screen and (min-width: 800px) {
      & {
        display: none;
      }
    }
  }
  button {
    @extend %shared-btn;
    display: none;
    @media screen and (min-width: 800px) {
      & {
        display: block;
      }
    }
  }
}
.show-close-btn {
  display: inline-block;
}
.main-section {
  display: grid;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  background-color: $very-light-gray;
  @media screen and (min-width: 800px) {
    & {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      margin-bottom: -10rem;
    }
  }
  div {
    @extend %shared-padding;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    @media screen and (min-width: 800px) {
      & {
        text-align: left;
      }
    }
  }
  button {
    @extend %shared-btn;
    display: block;
    margin: 2rem auto 6rem auto;
    @media screen and (min-width: 800px) {
      & {
        margin: 2rem 0;
      }
    }
  }

  img {
    background-image: url(./images/bg-intro-mobile.svg);
    background-position: right;
    background-size: cover;
    width: 100%;
    margin-top: -10.5rem;
    background-repeat: no-repeat;
    @media screen and (min-width: 800px) {
      & {
        order: 1;
        margin-top: -5rem;
      }
    }
  }
}
.section-center {
  background-color: $light-grayish-blue;
  section {
    background-color: inherit;
  }
  @media screen and (min-width: 800px) {
    & {
      padding-top: 10rem;
    }
  }
}
.section-container {
  display: grid;
  padding: 0;
  @media screen and (min-width: 800px) {
    & {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
    }
  }
  img {
    @extend %shared-img;
  }
  .title {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
  }
}
.container {
  row-gap: 2rem;
  article {
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    img {
      @extend %shared-img;
      width: 100%;
      @media screen and (min-width: 800px) {
        & {
          height: 200px;
        }
      }
    }
    p {
      margin-bottom: 0;
    }
    div {
      padding: 0 1.5rem 3rem 2rem;
    }
  }
  p {
    text-align: left;
  }
}
// Beginning of footer
footer {
  @extend %shared-padding;
  background-color: $dark-blue;
  display: grid;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 800px) {
    & {
      grid-template-columns: repeat(3, 1fr) 2fr;
      gap: 3rem;
      padding-top: 2rem;
      text-align: left;
    }
  }
  ul {
    column-span: 1;
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  div.btn-container {
    column-span: 2;
    @media screen and (min-width: 800px) {
      display: grid;
      justify-content: end;
    }
    button {
      @extend %shared-btn;
      margin: 2rem 0;
    }
  }
}
aside {
  text-align: center;
  background-color: $very-light-gray;
  a:hover {
    color: $bright-cyan;
  }
}
